* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    .foto {
      width: 300px;
      cursor: pointer;
    }

    .borde-activo {
      border: 2px solid red;
    }
    section {
    display: flex;
}
.entradas {
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}

section.fotoentradas {
    display: flex;
    justify-content: space-between;
}