* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas:
    "nav"
    "filtro"
    "main"
    "footer";
  grid-template-rows: auto auto auto auto;
  min-height: 100vh;
}

nav {
  background-color: rgb(98 172 225);
  grid-area: nav;
  display: flex;
  padding: 10px;
}

filtro {
  background-color: rgb(229 226 226);
  display: flex;
  padding: 20px;
  flex-direction: column;
  grid-area: filtro;
  text-align: center;
}
p.footer {
    font-size: 1rem;
}
main {
    background-color: rgb(248 248 248);
    grid-area: main;
    padding-bottom: 20px;
}

footer {
    background-color: rgb(163, 145, 223);
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    font-size: 1.3rem;
    color: white;
}
.pagination a {
    text-decoration: none;
    color: #9C27B0;
    border: 1px solid #ddd;
    padding: 15px 20px;
    background-color: white;
    font-size: 1.2rem;
    font-family: sans-serif;
}

select {
  border-radius: 14px;
  padding: 10px;
  font-size: 1.02rem;
}

.productos {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
}

.categorias {
  display: none;
}

.redes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    gap: 10px;
}
  img.social {
    width: 15%;
}
.brand {
  width: 70%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

img.menu-nav {
  width: 40%;
}

img.logo-nav {
  width: 35%;
}

img.animales {
  width: 40px;
}

.card {
  width: 100%;
  max-width: none;
  padding: 20px;
  text-align: center;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 14px;
}

.card img {
  width: 80%;
  max-width: 350px;
  height: auto;
}

.card h2 {
  margin-top: 20px;
  color: #555;
  font-weight: normal;
}

.card button {
  background-color: #62ace1;
  color: white;
  border: none;
  padding: 11px 25px;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}



.pagination a:hover {
  background-color: #f0f0f0;
}

li.elemento {
  display: flex;
  align-items: center;
}

p.texto-nav {
  font-family: sans-serif;
  color: white;
  font-size: 2rem;
}

p.titulo-filtro {
  font-size: 1.4rem;
  padding-bottom: 15px;
}

p.titulo-categoria {
  font-size: 1.2rem;
  font-family: sans-serif;
  color: white;
}

@media (min-width: 576px) {
  body {
    grid-template-columns: 250px auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "nav filtro"
      "nav main"
      "footer main";
  }

  nav {
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  filtro {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  main {
    padding: 40px;
  }

  .productos {
    grid-template-columns: repeat(2, 1fr);
  }

  img.menu-nav {
    display: none;
  }

  .brand {
    width: 100%;
  }

  .categorias {
    display: flex;
  }

  li.elemento {
    padding: 10px;
    gap: 10px;
  }

  .card h2 {
    font-size: 1.18em;
    font-family: system-ui;
  }

  p.titulo-filtro {
    font-size: 1.2rem;
    font-family: sans-serif;
  }

  p.texto-nav {
    font-size: 1.4rem;
  }
  img.social {
    width: 25%;
}
}

@media (min-width: 992px) {
  .productos {
    grid-template-columns: repeat(4, 1fr);
  }
}